<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Arctis_7.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Arctis_7.Properties.Settings>
            <setting name="lowColor" serializeAs="String">
                <value>230, 57, 70</value>
            </setting>
            <setting name="mediumLowColor" serializeAs="String">
                <value>244, 162, 97</value>
            </setting>
            <setting name="mediumHighColor" serializeAs="String">
                <value>233, 196, 106</value>
            </setting>
            <setting name="highColor" serializeAs="String">
                <value>42, 157, 143</value>
            </setting>
            <setting name="UseBackground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPercentage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PercentageColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="RunOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </Arctis_7.Properties.Settings>
    </userSettings>
</configuration>